
ul.slideshowgallery1 {
    list-style: none !important;
    color: #fff;
}

ul.slideshowgallery1 span {
    display: none;
}

#slideshow-wrappergallery1 {
    position: relative;
    width: 662px;
    background: #ffffff;
    padding: 0 0 0 0;
    border:;
    margin: 0;
    display: none;
}

#slideshow-wrappergallery1 * {
    margin: 0;
    padding: 0;
}

#slideshow-wrappergallery1 #fullsizegallery1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 662px;
    height: 413px;
    clear: both;
    border: none;
}

#slideshow-wrappergallery1 #informationgallery1 {
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    position: absolute;
    bottom: 0;
    width: 662px;
    height: 0;
    background: #ffffff;
    color: #a0a0a0;
    overflow: hidden;
    z-index: 300;
    opacity: .7;
    filter: alpha(opacity=70);
}

#slideshow-wrappergallery1 #informationgallery1 h3 {
    color: #a0a0a0;
    padding: 4px 8px 3px;
    margin: 0 !important;
    font-size: 16px;
    font-weight: bold;
}

#slideshow-wrappergallery1 #informationgallery1 p {
    color: #a0a0a0;
    padding: 0 8px 8px;
    margin: 0 !important;
    font-size: 14px;
    font-weight: normal;
}

#slideshow-wrappergallery1 #imagegallery1 {
    width: 662px;
    no-repeat;
}

#slideshow-wrappergallery1 #imagegallery1 img {
    border: none;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#slideshow-wrappergallery1 .imgnav {
    position: absolute;
    width: 25%;
    height: 421px;
    cursor: pointer;
    z-index: 250;
}

#slideshow-wrappergallery1 #imgprevgallery1 {
    left: 0;
    background: url('images/left.gif') left center no-repeat;
}

#slideshow-wrappergallery1 #imgnextgallery1 {
    right: 0;
    background: url('images/right.gif') right center no-repeat;
}

#slideshow-wrappergallery1 #imglinkgallery1 {
    position: absolute;
    zoom: 1;
    background-color: #ffffff;
    height: 421px;
    width: 100%;
    left: 0;
    z-index: 149;
    opacity: 0;
    filter: alpha(opacity=0);
}

#slideshow-wrappergallery1 .linkhover {
    background: transparent url('images/link.gif') center center no-repeat !important;
    text-indent: -9999px;
    opacity: .4 !important;
    filter: alpha(opacity=40) !important;
}

#slideshow-wrappergallery1 #thumbnailsgallery1 {
    background: #ffffff;
}

#slideshow-wrappergallery1 .thumbstop {
    margin-bottom: 8px !important;
}

#slideshow-wrappergallery1 .thumbsbot {
    margin-top: 8px !important;
}

#slideshow-wrappergallery1 #slideleftgallery1 {
    float: left;
    width: 20px;
    height: 93px;
    background: url('images/scroll-left.gif') center center no-repeat;
    background-color: #222;
}

#slideshow-wrappergallery1 #slideleftgallery1:hover {
    background-color: #333;
}

#slideshow-wrappergallery1 #sliderightgallery1 {
    float: right;
    width: 20px;
    height: 93px;
    background: #222 url('images/scroll-right.gif') center center no-repeat;
}

#slideshow-wrappergallery1 #sliderightgallery1:hover {
    background-color: #333;
}

#slideshow-wrappergallery1 #slideareagallery1 {
    float: left;
    position: relative;
    background: #ffffff;
    width: 612px;
    margin: 0 5px;
    height: 93px;
    overflow: hidden;
}

#slideshow-wrappergallery1 #slidergallery1 {
    position: absolute;
    width: 1420px !important;
    left: 0;
    height: 93px;
}

#slideshow-wrappergallery1 #slidergallery1 img {
    cursor: pointer;
    border: 1px solid #666;
    padding: 2px;
    float: left !important;
}

#slideshow-wrappergallery1 #spinnergallery1 {
    position: relative;
    top: 50%;
    left: 45%;
    text-align: left;
}

#slideshow-wrappergallery1 #spinnergallery1 img {
    border: none;
}
